# Ignorar carpetas de salidas y entornos
plots/
qtable_charts/
qtables/
videos/
venv_mountaincar/
venv_blobgame/
qtable_backups/


# Archivos temporales y de entorno
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.env

# Archivos de configuración del sistema
.DS_Store
Thumbs.db